* {
    background-color: #CFD2D1;
}

header {
    border-bottom: 2px black solid;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    padding: 0.5em;
    margin: auto;
    margin-bottom: 10px;
    background-color: white;
}

.manwho {
    margin-top: 0;
    font-size: 1.25rem;
    font-style: italic;
}

#img-caption {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
    width: 110%;
}


.timeline {
    text-align: center;
    font-weight: bold;
}

.lifelink {
    text-align: center;
}

#image {
    max-width: 100%;
    height: 35rem;
    width: 45rem;
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}


#tribute-info li {
    margin: 10px auto;
    text-align: center;
    list-style-position: inside;
}